<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h1>Mobile</h1>
    <form action="/mobile/add" method="POST"> 

<div>
    <label for="key">
        Key: 
    </label>
    <input type="text" name="key" placeholder="Key" id="key" class="form-control bg-dark text-white"/>
</div>
<div>
    <label for="brand">
        Brand:  
    </label>
    <input type="text" name="brand" placeholder="Brand" id="brand" class="form-control bg-dark text-white"/>
</div>
<div>
    <label for="price">
        Price: 
    </label>
    <input type="text" name="price" placeholder="Price" id="price" class="form-control bg-dark text-white"/>
</div>
<div>
    <label for="releaseDate">
        ReleaseDate:  
    </label>
    <input type="date" name="releaseDate" placeholder="ReleaseDate" id="releaseDate" class="form-control bg-dark text-white"/>
</div>
<div>
    <label for="ram">
        RAM:  
    </label>
    <input type="text" name="ram" placeholder="Ram" id="ram" class="form-control bg-dark text-white"/>
</div>
<div>
    <label for="storage">
        Storage:  
    </label>
    <input type="text" name="storage" placeholder="Storage" id="storage" class="form-control bg-dark text-white"/>
</div>
<div>
    <label for="numbCameras">
        NumbCameras:  
    </label>
    <input type="text" name="numbCameras" placeholder="NumbCameras" id="numbCameras" class="form-control bg-dark text-white"/>
</div>

<button class="btn btn-success btn-sm mt-2">Add</button>
</form>
</div>